* {
  font-family: "Roboto", sans-serif;
}

nav {
  position: fixed;
  width: 100%;
  height: 50px;
  background-color: #212121;
  z-index: 2;
}

.menu {
  display: flex;
  justify-content: space-between;
  padding: 13px 70px;
  margin: 0;
  list-style-type: none;
}
.menu .menu_link {
  color: #ffffff;
  font-size: 15px;
  font-weight: 300;
}
.menu .menu_item {
  border-right: 2px dotted black;
  padding-right: 28px;
}

header {
  position: relative;
}

.subheader {
  position: absolute;
  margin-top: 50px;
  width: 100%;
  height: 84px;
  background-color: #00000060;
}
.subheader_logo {
  display: block;
  max-width: 100%;
  margin-top: 16px;
}
.subheader-underlogo-text {
  margin-top: 6px;
  height: 13px;
  opacity: 0.5;
  color: #ffffff;
  font-size: 13px;
  font-weight: 400;
}
.subheader_call {
  text-align: right;
  margin-top: 19px;
  color: #ffffff;
  font-size: 12px;
  font-weight: 300;
}
.subheader_phone {
  margin-top: 8px;
  text-align: right;
  display: block;
  color: #ffffff;
  font-size: 22px;
  font-weight: 0;
  line-height: 20px;
  text-transform: uppercase;
}
.subheader_btn {
  margin-top: 19px;
  width: 172px;
  height: 46px;
  border: 0;
  border-radius: 4px;
  box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
  background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}
.subheader_btn:hover {
  background-image: none;
  background-color: #1eacc7;
}

.promo {
  min-height: 800px;
  background: url("../img/promo_background.jpg") center center/cover no-repeat;
  padding: 150px 0 135px;
}
.promo_header {
  margin: 0;
  color: #ffffff;
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}
.promo_subheader {
  margin: 0;
  margin-top: 22px;
  color: #ffffff;
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}
.promo_descr {
  margin-top: 23px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 24px;
  text-align: center;
}
.promo_btn {
  display: block;
  margin: 118px auto 0;
  width: 259px;
  height: 63px;
  box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.12);
  border: 0px;
  border-radius: 4px;
  background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  text-transform: uppercase;
}
.promo_btn:hover {
  background-image: none;
  background-color: #1eacc7;
}

.label {
  margin: 0 auto;
  width: 112px;
  height: 24px;
  background-color: #000000;
  color: #ffffff;
  font-size: 11px;
  line-height: 24px;
  font-weight: 400;
  text-align: center;
  vertical-align: center;
  text-transform: uppercase;
}

.title {
  display: block;
  margin: 38px auto 0;
  color: #222222;
  font-size: 38px;
  font-weight: 700;
  line-height: 38px;
  text-align: center;
  text-transform: uppercase;
}

.subtitle {
  margin: 0 auto;
  margin-top: 19px;
  width: 795px;
  height: 17px;
  color: #222222;
  font-size: 17px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 17px;
  text-align: center;
}

.advantages {
  min-height: 900px;
  padding: 71px 0 68px;
}
.advantages .advantages_cards {
  margin-top: 5px;
  padding: 0 43px 0 35px;
}
.advantages .advantages_card {
  margin-top: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.advantages .card_icon_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 113px;
  height: 113px;
  margin: 0;
  flex: 0 0 113px;
  background-color: #1eacc7;
  border-radius: 50%;
}
.advantages .card_icon_container .card_icon {
  max-width: 100%;
}
.advantages .card_text_container {
  margin-left: 26px;
  width: 341px;
}
.advantages .card_title {
  color: #1eacc7;
  font-size: 17px;
  line-height: 17px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
}
.advantages .card_descr {
  margin-top: 15px;
  color: #202020;
  font-size: 14px;
  line-height: 15px;
  font-weight: 300;
}

.app {
  min-height: 864px;
  padding: 48px 0 80px;
  background: url("../img/app_background.png") center center/cover no-repeat;
}
.app .row {
  margin-top: 32px;
}
.app_item {
  position: relative;
  width: 320px;
  height: 280px;
  margin: 0 auto;
  margin-bottom: 19px;
}
.app_item_1 {
  background: url("../img/app_screen_1.png") center center/cover no-repeat;
}
.app_item_2 {
  background: url("../img/app_screen_2.png") center center/cover no-repeat;
}
.app_item_3 {
  background: url("../img/app_screen_3.png") center center/cover no-repeat;
}
.app_item_4 {
  background: url("../img/app_screen_4.png") center center/cover no-repeat;
}
.app_item_5 {
  background: url("../img/app_screen_5.png") center center/cover no-repeat;
}
.app_item_6 {
  background: url("../img/app_screen_6.png") center center/cover no-repeat;
}
.app_item_subtitle {
  padding-top: 92px;
  color: #ffffff;
  font-size: 24px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
}
.app_item_plus {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 35px;
  left: 50%;
  transform: translateX(-50%);
  width: 26px;
  height: 26px;
  background-color: #000000;
  border-radius: 50%;
  cursor: pointer;
}
.app_item_plus:before {
  content: "";
  display: block;
  width: 14px;
  height: 2px;
  background-color: #1eacc7;
}
.app_item_plus:after {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  content: "";
  display: block;
  width: 2px;
  height: 14px;
  background-color: #1eacc7;
}
.app_item_plus:hover:before, .app_item_plus:hover:after {
  background-color: #ff5656;
  transition: 0.3s all;
}

.capabilities {
  min-height: 896px;
  padding-top: 57px;
  background-color: #070716;
}
.capabilities .label {
  background: white;
  color: #070716;
}
.capabilities .title, .capabilities .subtitle {
  color: white;
}
.capabilities_footer {
  margin-top: 323px;
  min-height: 397px;
  padding-bottom: 138px;
  background: url("../img/app_background.png") center center/cover no-repeat;
}
.capabilities_footer_car {
  max-width: 759px;
  margin: 0 auto;
}
.capabilities_footer_car img {
  margin-top: -267px;
  width: 100%;
}
.capabilities_footer .subtext {
  margin: 0 auto;
  margin-top: 4px;
  color: #222222;
  font-size: 17px;
  font-weight: 300;
  line-height: 17px;
  text-align: center;
}

.requires {
  padding: 68px 0 84px;
}
.requires_conditions, .requires_requirements {
  margin-top: 62px;
}
.requires_conditions_title, .requires_requirements_title {
  color: #1ca8c3;
  font-size: 22px;
  font-weight: 400;
}
.requires_conditions_descr, .requires_requirements_descr {
  color: #1ca8c3;
  font-weight: 300;
}
.requires_conditions_list, .requires_requirements_list {
  margin-top: 22px;
  list-style-type: none;
  padding-left: 52px;
  font-size: 17px;
}
.requires_conditions_list li, .requires_requirements_list li {
  position: relative;
  line-height: 24px;
  font-weight: 300;
  margin-bottom: 10px;
}
.requires_conditions_list li:before, .requires_requirements_list li:before {
  content: "";
  display: block;
  vertical-align: middle;
  position: absolute;
  left: -32px;
  top: 3px;
  width: 21px;
  height: 20px;
  background: url("../icons/list_marker_blue.png") center center/cover no-repeat;
}
.requires_requirements {
  margin-top: 62px;
}
.requires_requirements_title {
  color: #ff5656;
}
.requires_requirements li:before {
  background: url("../icons/list_marker_red.png") center center/cover no-repeat;
}

.cities {
  position: relative;
  min-height: 717px;
  background: #080816 url("../img/cities_map_bg.jpg") center center/auto no-repeat;
}
.cities .container {
  padding: 49px 0;
}
.cities .label {
  background-color: white;
  color: black;
}
.cities .title, .cities .subtitle {
  color: white;
}
.cities_link {
  font-size: 15px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  margin: 486px 0 auto;
}
.cities_link a {
  color: #1fbad6;
  text-decoration: none;
}

.footer {
  min-height: 156px;
  padding: 14px 23px 31px;
  border-bottom: 8px solid #070716;
}
.footer .container-fluid {
  display: inline-block;
  margin: 0 auto;
  position: relative;
}
.footer_links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.footer_wrapper {
  width: 299px;
  height: 4px;
  background-color: #1fbad6;
}
.footer_main_menu {
  margin-top: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 364px;
}
.footer_main_menu a {
  color: #070716;
  font-size: 15px;
  font-weight: 300;
  text-transform: uppercase;
  text-decoration: none;
}
.footer_sub_menu {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 390px;
}
.footer_sub_menu a {
  color: #999999;
  font-size: 11px;
  font-weight: 300;
  text-transform: uppercase;
  text-decoration: none;
}
.footer_lang {
  margin-top: 19px;
  color: #1fbad6;
  font-size: 11px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}
.footer_social {
  position: absolute;
  display: flex;
  top: 51px;
}
.footer_social .social_btn {
  margin-right: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  background-color: #070716;
  border-radius: 50%;
}
.footer_apps {
  position: absolute;
  right: 0;
  top: 52px;
}

/*# sourceMappingURL=style.css.map */
